---
import IosMockup from "./ios-mockup.astro";
import image from "./1.png";
---

<div class="flex flex-col items-center justify-between md:flex-row">
  <div>
    <IosMockup imgSrc={image.src} alt="Hewalex OptiEner application mockup" />
  </div>
  <div>
    <h2 class="text-3xl">OptiEner for Hewalex</h2>
    <h3>Mobile application</h3>
    <p class="mt-4">
      OptiEner is a mobile application for Hewalex customers. It allows to control, monitor and analyze the energy
      consumption and other parts of the smart home systems.
    </p>
    <p class="mt-4">Done using React Native, Expo and Typescript.</p>
  </div>
</div>
