---
const { imgSrc, imgAlt } = Astro.props;
---

<div class="scale-75 relative mx-auto border-gray-800 dark:border-gray-900 bg-gray-800 dark:bg-gray-900 border-[14px] rounded-[2.5rem] shadow-xl">
  <div class="w-[148px] h-[18px] bg-gray-800 dark:bg-gray-900 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
  <div class="h-[46px] w-[5px] bg-gray-800 dark:bg-gray-700 absolute transition-all -start-[17px] hover:-start-[20px] top-[124px] rounded-s-lg"></div>
  <div class="h-[46px] w-[5px] bg-gray-800 dark:bg-gray-700 absolute transition-all -start-[17px] hover:-start-[20px] top-[178px] rounded-s-lg"></div>
  <div class="h-[64px] w-[5px] bg-gray-800 dark:bg-gray-700 absolute transition-all -end-[17px] hover:-end-[20px] top-[142px] rounded-e-lg"></div>
  <div class="w-[120px] h-1 bg-gray-300 absolute bottom-2 -translate-x-1/2 rounded-full start-1/2 hover:bottom-3 transition-all hover:bg-gray-400"></div>
  <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-700">
      <img src={imgSrc} class="w-[272px] h-[572px]" alt={imgAlt} />
  </div>
</div>
