---
import TestimonialCard from "./testimonial-card.astro";
---

<div class="w-full">
  <TestimonialCard
    name="Samuel Helm"
    role="Project Manager for Articulate Entertainment"
    date="February 27, 2025"
    relationship="Samuel was Tomasz's client"
    testimonial="Tomasz proved to be an exceptional lead full-stack developer on our software development project. His comprehensive understanding of both front-end and back-end technologies allowed him to effectively guide the team and ensure seamless integration across all project components. He consistently delivered high-quality code, tackled complex challenges with a methodical approach, and fostered a collaborative and productive environment. Tomasz's leadership was instrumental in the project's success, and his ability to balance technical expertise with effective communication made him an invaluable asset."
    imgSrc="https://media.licdn.com/dms/image/v2/C5603AQFenUxCVl2Gfw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516985987364?e=1746662400&v=beta&t=zmEGNfdUdlhdmCxUM1hv9N32Wbjgg2HSEMLYy38qh8g"
  />

  <TestimonialCard
    name="Haley Power"
    role="Brand + training specialist"
    date="November 2, 2023"
    relationship="Haley worked with Tomasz but they were at different companies"
    testimonial="Always a joy to collaborate with! Our mobile app project would not have been a success without Tomasz at the helm of the mobile team. His insights into the mobile development process were invaluable. I had experienced the woes of getting apps approved with another startup, and Tomasz made the process look easy; getting our Google Play listing approved almost instantly, and diligently working to jump through Apple's hoops to get us on the App Store. He's also extremely patient and understanding about our team not fully grasping the tasks we needed to do in order to arm the dev team for success - and thus provided consistent walkthroughs and guides to help me finish the tasks. Great team player! We wouldn't be where we are without Tomasz."
    imgSrc="https://media.licdn.com/dms/image/v2/D4E03AQEG1rwz9OIy5A/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1720754842784?e=1746662400&v=beta&t=tlglVp7y6S0Kp678Mdj_3OocTIP3SuacXktC-r8IU-4"
  />

  <TestimonialCard
    name="Rob Eifler"
    role="CTO at Defined"
    date="March 23, 2023"
    relationship="Rob was Tomasz's client"
    testimonial="I have had the pleasure of working with Tomasz for about a year and a half now, and I can honestly say that he is one of the most talented Front-end ReactJS developers I have ever worked with. Tomasz has a deep understanding of ReactJS and other front-end technologies, and he has an amazing ability to take on complex interfaces and turn them into highly functional and intuitive user experiences. His problem-solving has helped deploy many tricky business use-cases to our product. In addition to his technical skills, Tomasz is also an excellent team player and leader. He was always willing to help mentor junior team members and collaborate with other departments. On top of that, he even helped me interview additional developers to join our team, which shows his commitment to building strong, cohesive teams. Overall, I would highly recommend Tomasz for any front-end development role. He is a skilled developer and leader with a strong work ethic and a commitment to excellence. Any team would be lucky to have him as a member."
    imgSrc="https://media.licdn.com/dms/image/v2/C4E03AQGqlkJgSFXS8A/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1623327654576?e=1746662400&v=beta&t=lvCFXyAqmkOmACIOirCekTNqxvjSD5Y3S-YTogTC7CQ"
  />

  <TestimonialCard
    name="Peter Lancaster"
    role="CEO at BrandActif Singapore Pte.Ltd"
    date="July 16, 2023"
    relationship="Peter was Tomasz's client"
    testimonial="Tomasz is a highly skilled developer and his expertise was also very helpful in creating a Siri/Google Assistant voice controlled application using React Native. This was done to a very tight deadline and we weren't sure whether it was even possible! Tomasz is very dedicated and is always willing to research complex ideas and bring them to life. He is open to feedback and implements it with ease while remaining confident in his actions. Throughout our collaboration, Tomasz remains available and always delivers his work on time. I am very happy indeed with the relationship we have built and would highly recommend him as a software engineer."
    imgSrc="https://media.licdn.com/dms/image/v2/C4E03AQE52C4liYxGiA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1517674970728?e=1746662400&v=beta&t=5XrUC07pYrmP5_af1FoHjz5K7zfd9_YjSzBi26YdrFY"
  />

  <TestimonialCard
    name="Ludvig Sylvén"
    role="Head of product and business development"
    date="October 18, 2021"
    relationship="Ludvig was Tomasz's client"
    testimonial="Tom was a key part of the team that I worked with to deliver and improve ClickAula's website. Throughout the project I was impressed by Tom's proactive way of working, ensuring that the product was delivered with high quality on time. Great communication and technical skills, as well as high level of curiosity, which made him truly understand the business and what we were trying to achieve. Thanks Tom – hope to work with you soon again!"
    imgSrc="https://media.licdn.com/dms/image/v2/C4E03AQFL-J2o-r0V3w/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1594369803503?e=1746662400&v=beta&t=OHQZ2KAe20Sk6aCjpVhedD28xkunZDbmUFz4Qe5rs0s"
  />
  
  <div class="mt-8 text-center">
    <a 
      href="https://www.linkedin.com/in/k1eu/" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    >
      <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
      </svg>
      Connect with me on LinkedIn
    </a>
  </div>
</div>
