---
import { getCollection } from "astro:content";

import PageLayout from "../../components/PageLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<PageLayout>
  <main class="mt-6">
    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="flex">
              <time
                class="flex-grow-0 flex-shrink-0 basis-32 text-gray-600 italic"
                datetime={post.data.pubDate.toISOString()}
              >
                {post.data.pubDate.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              <a class="visited:text-purple-400" href={`/blog/${post.slug}/`}>
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</PageLayout>
