---
import Link from "../components/Link.astro";
import Logo from "../components/Logo.astro";
import PageLayout from "../components/PageLayout.astro";
---

<PageLayout>
  <main class="flex flex-col items-center mt-4 text-center">
    <Logo />
    <p class="mt-4">Hi, I'm <b>Tomek</b>. Mostly known as <b>k1eu</b>(q).</p>
    <p>
      I'm a <b>Web & Mobile developer</b> currently working <Link
        href="https://selleo.com"
        target="_blank"
      >
        @Selleo.
      </Link>
    </p>
  </main>
</PageLayout>
