---
import Link from "./Link.astro";

const today = new Date();
---

<footer class="mt-6 text-center text-sm">
  <div>
    &copy; 2021-{today.getFullYear()} by k1eu. All rights reserved.
  </div>
  <div>
    Made with ♥️ using <Link href="https://astro.build/" target="_blank">
      Astro
    </Link>
  </div>
</footer>
