---
import HeaderLink from "./HeaderLink.astro";
import LogoType from "./LogoType.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const links = [
  { href: "/", label: "Home" },
  { href: "/blog/", label: "Blog" },
  { href: "/about/", label: "About" },
];
---

<header class="flex flex-col items-center justify-between gap-2 sm:flex-row">
  <LogoType />
  <section class="flex gap-2">
    <nav class="flex gap-2">
      {
        links.map(({ label, ...link }) => (
          <HeaderLink {...link}>{label}</HeaderLink>
        ))
      }
    </nav>
    <ThemeSwitcher />
  </section>
</header>
