---
import HeaderLink from "./HeaderLink.astro";
import LogoType from "./LogoType.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const GITHUB_URL = "https://github.com/k1eu";
const TWITTER_URL = "https://twitter.com/k1euu";

const links = [
  { href: "/", label: "Home" },
  { href: "/blog", label: "Blog" },
  { href: "/about", label: "About" },
  { href: TWITTER_URL, label: "Twitter", target: "_blank" },
  { href: GITHUB_URL, label: "GitHub", target: "_blank" },
];
---

<header class="flex flex-col gap-2 sm:flex-row justify-between items-center">
  <LogoType />
  <section class="flex gap-2">
    <nav class="flex gap-2">
      {
        links.map(({ label, ...link }) => (
          <HeaderLink {...link}>{label}</HeaderLink>
        ))
      }
    </nav>
    <ThemeSwitcher />
  </section>
</header>
