---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  (pathname.startsWith(String(href)) && href !== "/");
---

<a
  href={href}
  class:list={[
    "hover:-translate-y-1 transition-transform",
    className,
    {
      "font-bold underline decoration-purple-400 underline-offset-4": isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
