---
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import { SITE_LOGOTYPE } from "../consts";

const GITHUB_URL = "https://github.com/k1eu";
const TWITTER_URL = "https://twitter.com/k1euu";
---

<header class="flex flex-col sm:flex-row justify-between items-center">
  <h1>
    {SITE_LOGOTYPE}
  </h1>
  <section class="flex gap-2">
    <nav class="flex gap-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href={TWITTER_URL} target="_blank">Twitter</HeaderLink>
      <HeaderLink href={GITHUB_URL} target="_blank">GitHub</HeaderLink>
    </nav>
    <ThemeSwitcher />
  </section>
</header>
