---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    "inline-block font-bold underline decoration-yellow-400 underline-offset-4 hover:-translate-y-1 transition-transform focus-visible:outline-gray-100 outline-offset-4",
    className,
  ]}
  {...props}
>
  <slot />
</a>
