---
---

<h1
  class="font-['Fira_Sans'] text-[0px] font-medium text-black transition-colors dark:text-white"
>
  <a class="[&>*]:inline-block [&>*]:text-3xl" href="/">
    <span class="mr-1">{"<"}</span>
    <span>k1eu</span>
    <span>.</span>
    <span
      class="bg-yellow-400 text-black transition-colors dark:bg-transparent dark:text-yellow-400"
      >dev</span
    >
    <span class="ml-1">{">"}</span>
  </a>
</h1>
