---
---

<h1 class="text-[0px] text-black dark:text-white transition-colors font-bold">
  <a class="[&>*]:text-3xl [&>*]:inline-block" href="/">
    <span class="mr-1">{"<"}</span>
    <span>k1eu</span>
    <span>.</span>
    <span
      class="bg-yellow-400 text-black dark:text-yellow-400 dark:bg-transparent transition-colors"
      >dev</span
    >
    <span class="ml-1">{">"}</span>
  </a>
</h1>
