---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body
    class="bg-gray-300 dark:bg-gray-800 text-lg text-gray-900 dark:text-gray-100 p-4 min-h-screen max-w-prose break-words leading-normal m-auto antialiased"
  >
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
  </body>
</html>
