---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body
    class="m-auto flex min-h-screen max-w-prose flex-col justify-between break-words bg-gray-300 p-4 text-lg leading-normal text-gray-900 antialiased dark:bg-gray-800 dark:text-gray-100"
  >
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
  </body>
</html>
