---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { title, description, image } = Astro.props;
const SITE_TITLE = "k1eu.dev";
const SITE_DESCRIPTION = "A personal website of Tomasz Kielar (k1eu). Fullstack developer, gamer, and photographer.";
---

<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;;">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body
    class="m-auto flex min-h-dvh max-w-prose flex-col justify-between break-words bg-gray-300 p-4 text-lg leading-normal text-gray-900 antialiased dark:bg-gray-800 dark:text-gray-100"
  >
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
  </body>
</html>
